<!-- <div class="progress-loader" [hidden]="!loading">
    <div class="loading-spinner">
        
        <span class="loading-message">Please wait...</span>
    </div>
</div> -->


<!-- <div id="preloader" >
    <div id="loader"></div>
  </div> -->


  <!-- <div class="container" >
    <div class="item-1"></div>
    <div class="item-2"></div>
    <div class="item-3"></div>
    <div class="item-4"></div>
    <div class="item-5"></div>
  </div> -->

  <!-- <div class="loading" [hidden]="!loading">Loading&#8230;</div> -->

  <div id="overlay" [hidden]="!loading">
    <div class="spinner"></div>
    <br/>
    Loading...
</div>